<div class="overlays">
    <div class="overlayText  start">
        Click to start
      </div>
    
      <div id="victoryText" class="overlayText victory ">
        Congratulations! You are done!
        <!-- <table class="pure-table">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Score</th>
                  <th>Time</th>
              </tr>
          </thead>
      
          <tbody>
              <tr>
                  <td>1</td>
                  <td>Adric</td>
                  <td>20</td>
                  <td>40</td>
              </tr>
      
              <tr>
                  <td>2</td>
                  <td>Ben</td>
                  <td>22</td>
                  <td>42</td>
              </tr>
      
              <tr>
                  <td>3</td>
                  <td>Kamui</td>
                  <td>29</td>
                  <td>50</td>
              </tr>
          </tbody>
      </table>
      <br>
      <br> -->
        <span class="overlayTextSmall">click on screen to Play Again</span>
        Turns Taken:<span id="score">0</span>
        Time Taken:<span id="time">0</span>
        <!-- <button>Play Again</button> -->
      </div>
    
      <div id="gameOverText" class="overlayText over">
        Sorry! You lost the game
        <span class="overlayTextSmall">click on screen to Play Again</span>
      </div>
</div>
